<% if defined? charity %>
<div class="charity_container <%=charity.featured ? 'featured_on_event' : '' %>" id="charity_<%= charity.id %>" data-id="<%= charity.id %>">
	<div class="charity_name">
		<%= link_to truncate(charity.name, :length => 45, :separator => '...'), charity, :charity_id => charity.id, :class => :public_charity_details %>
	</div>
	<div class="charity_container_left_col">
		<div class="charity_image public_charity_details">
			<% if charity.picture && charity.picture.image? %>
			<%= link_to (image_tag charity.picture.image.url(:mini)), charity, :class => :public_charity_details, :charity_id => charity.id, 'data-picture-medium' => charity.picture.image.url(:medium) %>
			<% else %>
			<%= link_to (image_tag 'missing_mini.png'), charity, :charity_id => charity.id, :class => :public_charity_details, :alt => 'missing image' %>
			<% end %>
		</div>
	</div>
	<div class="charity_description">
		<%= two_lines_description charity, :public_charity_details %>
	</div>
</div>

<% end %>